.about {

    .header {
        margin-bottom: 40px;
    }

    .info-card {

        margin-bottom: 20px;

        .about-image {

            img {
                height: 240px;
                width: 240px;
                border: 5px solid $blue;
                border-radius: 120px;
            }
        }

        .content {

            text-align: center;
            padding: 0 40px;
            width: calc(100% - 240px);

            .title {
                font-weight: bold;
                margin-bottom: 20px;
            }

        }

    }

}