.about {

    .header {
        margin-bottom: 40px;
    }

    .info-card {

        .about-image {

            img {
                height: 240px;
                width: 240px;
                border: 5px solid $blue;
                border-radius: 120px;
            }
        }

        .content {
            padding: 0 40px;
            width: calc(100% - 240px);
        }
    }
}