$cube-height: 100vh;
$cube-width: 100vw;
$cube-depth: 50vh;
$cube-padding-h: 0;
$cube-padding-w: 0;


.nav {
    display: none !important;
}

.cube-container {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    // padding: 5vh 5vw 5vh 5vw;
    perspective: 1000px;
}

.cube-wrap {

    height: $cube-height;
    width: $cube-width;
    transform-style: preserve-3d;
    transform: translateZ( -$cube-depth );

    .cube-face {

        padding: 40px 200px;
        transition: transform 2s;
        transform-style: preserve-3d;
        position: absolute;
        display: block;
        height: $cube-height;
        width: $cube-width;
        // font-size: 100px;
        // @media #{$medium-and-down} {
        //   padding: 40px 200px 40px 40px;
        // }

    }

    .cube-face-front {
        background-color: white;
        transform: rotateY(0deg) translateZ($cube-depth);
    }

    .cube-face-bottom {
        background-color: white;
        transform: rotateX(-90deg) translateZ($cube-depth);
    }

    .cube-face-back {
        background-color: white;
        transform: rotateX(180deg) translateZ($cube-depth);
    }

    .cube-face-top {
        background-color: white;
        transform: rotateX(90deg) translateZ($cube-depth);
    }

    .cube-face-left, .cube-face-right {
        height: $cube-height;
        width: $cube-height;
    }

    .cube-face-left {
        background-color: white;
        transform: rotateY(-90deg) translateZ($cube-depth);
    }

    .cube-face-right {
        background-color: white;
        transform: rotateY(90deg) translateZ(25vmin);
    }

}