$purple: #333a56;
$blue: #52658f;
$cream: #f7f5e6;
$gray: #e8e8e8;
$white: #fafafa;

.header {
    font-family: 'Raleway', sans-serif;
    line-height: 64px;
    font-size: 64px;
    text-align: center;
    color: $purple;
    font-weight: 700;
}