.home {

    .header {
        margin-bottom: 40px;
    }

    .icons {

        color: $purple;
        font-size: 64px;
        background-color: $cream;
        opacity: 0.8;
        border-radius: 8px;
        margin-bottom: 50px;

        .icon {
            padding: 40px 0;
            border-radius: 8px;
            text-align: center;
            &:hover {
                background-color: $purple;
                color: $cream;
            }
        }
    }

    .background-img {

        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: image-url('sanfrancisco.jpg') no-repeat center center fixed;
        background-size: cover;
        filter: sepia(50%);
        opacity: 0.7;

    }

}