.home {

    .header {
        margin-bottom: 40px;
    }

    .icons {

        color: $purple;
        font-size: 64px;
        background-color: $cream;
        opacity: 0.8;
        border-radius: 8px;
        margin-bottom: 50px;

        .icon {
            padding: 40px 0;
            border-radius: 8px;
            text-align: center;
            &:hover {
                background-color: $purple;
                color: $cream;
            }
        }
    }

    .look-at-me {
        color: $purple;
        left: calc(50%)
    }

}