.nav {

    .nav-bar {

        z-index: 100;
        position: fixed;
        width: 100%;
        height: $nav-height;
        background-color: $purple;

        .nav-option {

            cursor: pointer;
            padding: 24px 30px;
            color: $cream;
            font-size: 16px;
            line-height: 16px;
            font-weight: bold;

            &:hover {
                background-color: $white;
                color: $purple;
            }
        }

    }


    .nav-menu {

        position: fixed;
        height: calc(100% - 64px);
        z-index: 100;
        width: $nav-width;
        background-color: $purple;
        opacity: .9;
        margin-top: $nav-height;
        margin-left: $nav-width;
        align-self: flex-end;
        transition: all 0.2s ease-in;

        &.open {
            margin-left: 0px;
        }
    }

}