.overview {

    height: 900px;
    padding: 0px 200px;

    .header {
        font-family: 'Raleway', sans-serif;
        line-height: 64px;
        font-size: 64px;
        text-align: center;
        color: $purple;
        font-weight: 700;
        padding: 64px 0;
    }

    .icons {
        color: $purple;
        font-size: 64px;
        background-color: $cream;
        opacity: 0.8;
        border-radius: 8px;
        .icon {
            padding: 40px 0;
            text-align: center;
            &:hover {
                background-color: $purple;
                color: $cream;
            }
        }
    }

    .info-card {

        opacity: .9;
        margin: 50px 0;
        height: 320px;
        width: 100%;
        background-color: $white;
        border-radius: 8px;
        transition: all 0.3s ease-in;

        &.closed {
            opacity: 0;
        }

        .info-header {
            background-color: $blue;
            color: $cream;
            padding: 20px;
        }

        .info-content {
            padding: 20px;
        }

        .info-close {
            padding: 0px 20px;
            cursor: pointer;
        }
    }

}